@import "variables.scss";

// CONTAINERS ----------------------------
.pushable {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 100%;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-1px);
}
// --------------------------------------------------------

// VARIANTS ------------------------------
.pushable-standard {
  background: $pushable-standard-bg;
}

.front-standard {
  background: $front-standard-bg;
  color: $font-standard;
}

.pushable-primary {
  background: $pushable-primary-bg;
}

.front-primary {
  background: $front-primary-bg;
  color: $font-primary;
}

.pushable-secondary {
  background: $pushable-secondary-bg;
}

.front-secondary {
  background: $front-secondary-bg;
  color: $font-secondary;
}
//------------------------------

// SIZES -----------------------------------
.au {
  height: auto;
}

.md {
  height: 40px;
}

.lg {
  height: 90px;
}

.xlg {
  height: 140px;
}
// -----------------------------------------

// FONT SIZE --------------------------------
.large-font {
  font-size: 1.5rem;
}
// ------------------------------------------
