body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

input,
button {
  font-family: "Source Code Pro", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
