// Background colors
$global-bg: rgb(116, 116, 116);
$calculatrice-bg: #2b2b2b;
$clear-button-bg: #ff4136;
$delete-button-bg: #ff4136;
$main-input-bg: #bccd95;

// Button Variants
// Standard
$front-standard-bg: #ffff;
$pushable-standard-bg: rgb(231, 231, 231);
$font-standard: #111111;

// Primary
$front-primary-bg: #ff4136;
$pushable-primary-bg: #ff665e;
$font-primary: #ffff;

// Secondary
$front-secondary-bg: #3665ff;
$pushable-secondary-bg: #6c9df8;
$font-secondary: #ffff;

// Font colors
$clear-button-color: #ff4136;
$delete-button-color: #ff4136;
$main-input-color: #111111;

// font family
$global-font-family: "Source Code Pro", monospace;
$main-input-font-family: "Press Start 2P", cursive;
